<!DOCTYPE htmlPUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>HOMEOWNERS INSURANCE</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="margin:0;padding:0;min-width:100%; overflow-x: hidden;">
    <center style="table-layout:fixed; padding: 0; background-color: #FFFFFF; overflow-x: hidden">
        <div class="wrapper" style="max-width: 800px; background: #FFFFFF;">
            <table align="center" style="border-spacing:0;margin:0;padding:0;width:100%;max-width:800px;">
                <!-- Logo -->
                <tr>
                    <td style="padding:0;">
                        <table width="100%;" style="border-spacing:0;">
                            <tr>
                                <td style="padding:20px;text-align: center;">
                                    <img src="https://soltanianco.com/email_templates/assets/rj_logo.png" alt="...">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Banner -->
                 <tr>
                    <td align="center">
                        <div style="padding: 40px 20px; text-align: center; background: linear-gradient(230.86deg, #4BCDE0 13.67%, #004464 54%);">
                            <p style="font-family: 'DM Sans', sans-serif; font-weight: 400; font-size: 60px; line-height: 91.2px; text-align: center; color: #FFFFFF; margin-bottom: 10px;">
                                INTEREST RATES ARE <br/>
                                <span style="font-weight: 700; text-decoration: underline;"> RISING </span>
                            </p>

                            <!-- IMG -->
                            <img src="https://soltanianco.com/email_templates/assets/mlo_up_banner.png" style="max-width: 80%; width: 100%; height: auto; margin: 40px 0;" alt="...">

                            <p style="font-family: 'DM Sans', sans-serif; font-weight: 700; font-size: 36px; line-height: 51.3px; text-align: center; color: #FFFFFF; margin-bottom: 46px;">
                                ACCESS OUR ARRAY OF FINANCING <br/>
                                OPTIONS TAILORED TO SUPPORT YOU
                            </p>
                        </div>
                    </td>
                 </tr>
                <!-- Banner -->

                <!-- Get in Touch -->
                 <tr>
                    <td align="center">
                        <div>
                            <a 
                                href="https://soltanianco.com/communication"
                                target="_blank"
                                rel="noopener noreferrer"
                                style="width: 400px; background-color: #38D4DB; padding: 30px 75px; border-radius: 50px; text-decoration: none; font-family: 'Noto Sans', sans-serif; font-weight: 700px; font-size: 28px; line-height: 34px; color: #FFFFFF;"
                            >
                                GET IN TOUCH
                            </a>
                        </div>
                    </td>
                 </tr>
                <!-- Get in Touch -->

                <!-- Footer -->
                 <tr>
                    <td>
                        <div style="margin-top: 85px; padding: 0 40px;">
                            <table width="100%;" style="border-spacing:0;">
                                <tr>
                                    <td align="right">
                                        <!-- address -->
                                         <p style="font-family: 'Didact Gothic', sans-serif; font-size: 18px; line-height: 25.65px; text-align: right; color: #000004;">
                                            ALEXANDER BENJAMIN SOLTANIAN <br/>
                                            MORTGAGE LOAN OFFICER <br/>
                                            NMLS # 1729937 <br/>
                                         </p>
                                         <a href="mailto:ALEXANDER@RJCMORTGAGE.COM" style="font-family: 'Didact Gothic', sans-serif; font-size: 18px; line-height: 25.65px; text-align: right; color: #000004; text-decoration: none;"> ALEXANDER@RJCMORTGAGE.COM </a> <br/>
                                         <a href="tel:+ 1 (347) 978.1939" style="font-family: 'Didact Gothic', sans-serif; font-size: 18px; line-height: 25.65px; text-align: right; color: #000004; text-decoration: none;"> + 1 (347) 978.1939 </a>
                                        <p style="font-family: 'Didact Gothic', sans-serif; font-size: 12px; line-height: 17.1px; text-align: center; color: #000004;  margin: 50px 0px 10px;">
                                            Disclosure: This email and its attachments are confidential and intended only for the  recipient. If received in error, please notify us immediately delete it and all attachments. Distributing, duplicating, or acting upon the information in this email is prohibited.
                                            © 2023 R & J CAPITAL GROUP, LLC. ALL RIGHTS RESERVED.
                                            NYS DEPARTMENT OF FINANCIAL SERVICES. BROKER ARRANGES MORTGAGE LOANS WITH THIRD PARTY PROVIDERS. 
                                            R&J CAPITAL GROUP LLC, 80-02 KEW GARDENS ROAD, SUITE 1040, KEW GARDENS, NY 11415. NMLS # 183264.  (718) 520-7000
                                            RESIDENTIAL LOAN COMPANY, R&J CAPITAL GROUP LLC. NMLS #183264 (NMLSCONSUMERACCESS.ORG).
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                 </tr>
            </table>
        </div>
    </center>
</body>
</html>