<!DOCTYPE htmlPUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>HOMEOWNERS INSURANCE</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="margin:0;padding:0;min-width:100%; overflow-x: hidden;">
    <center style="table-layout:fixed; padding: 0; background-color: #FFFFFF; overflow-x: hidden">
        <div class="wrapper" style="max-width: 800px; background: linear-gradient(180deg, #000000 14.5%, #004464 64%, #45019A 100%);">
            <table align="center" style="border-spacing:0;margin:0;padding:0;width:100%;max-width:800px;">
                <!-- Logo -->
                <tr>
                    <td style="padding:0;">
                        <table width="100%;" style="border-spacing:0;">
                            <tr>
                                <td style="padding:20px 30px;text-align: right;">
                                    <p style="font-family: 'DM Sans', sans-serif; font-weight: 700; font-size: 32px; line-height: 45.6px; text-align: right; color: #FFFFFF;">
                                        ALEXANDER B SOLTANIAN
                                    </p>

                                    <a
                                        href="tel:+1 (347) 978 1939"
                                        style="font-family: 'DM Sans', sans-serif; font-weight: 700; font-size: 32px; line-height: 45.6px; text-align: right; color: #FFFFFF; text-decoration: none;"
                                    >
                                        +1 (347) 978 1939
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Banner -->
                 <tr>
                    <td>
                        <img src="https://soltanianco.com/email_templates/assets/refinance_banner.png" style="max-width: 100%; width: 100%; height: auto;" alt="..."/>
                    </td>
                 </tr>
                <!-- Banner -->

                <tr>
                    <td>
                        <div style="padding: 90px 20px 0;">
                            <table width="100%;" style="border-spacing:0;">
                                <tr>
                                    <td style="padding-left: 20px;">
                                        <table width="100%;" style="border-spacing:0;">
                                            <tr>
                                                <td> <img src="https://soltanianco.com/email_templates/assets/mortgage_title.png" style="margin: 20px 0 0 0;" alt="..."> </td>
                                                <td align="center" colspan="1"> <img src="https://soltanianco.com/email_templates/assets/rj_logo_round.png" width="100" alt="..."> </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <p style="font-family: 'DM Sans', sans-serif; font-weight: 700; font-size: 14px; line-height: 19.95px; text-align: left; color: #FFFFFF; margin: 12px 0;">
                                                        © 2023 R & J CAPITAL GROUP, LLC. ALL RIGHTS RESERVED.
                                                        NYS DEPARTMENT OF FINANCIAL SERVICES. BROKER ARRANGES MORTGAGE LOANS WITH THIRD PARTY PROVIDERS.
                                                        R&J CAPITAL GROUP LLC, 80-02 KEW GARDENS ROAD, SUITE 1040, KEW GARDENS, NY 11415. NMLS # 183264.  (718) 520-7000
                                                        RESIDENTIAL LOAN COMPANY, R&J CAPITAL GROUP LLC. NMLS #183264 (NMLSCONSUMERACCESS.ORG).
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center" width="270px">
                                        <img src="https://soltanianco.com/email_templates/assets/coin_bag.png" style="max-width: 100%; width: 100%; height: auto;" alt="...">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="wrapper" style="max-width: 800px; background: linear-gradient(180deg, #440099 64%, #FFB25B 100%); padding: 0px 20px 20px 20px;">
            <table align="center" style="border-spacing:0;margin:0;padding:0;width:100%;max-width:800px;">
                <tr>
                    <td style="padding:0;">
                        <table width="100%;" style="border-spacing:0;">
                            <tr>
                                <td style="padding:0;text-align: center;">
                                    <img src="https://soltanianco.com/email_templates/assets/logo.png" width="84" height="84" style="margin-bottom: 27px;" alt="logo" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0;">
                        <table width="100%;" style="border-spacing:0;">
                            <tr>
                                <td style="padding:0;text-align: center;">
                                    <img src="https://soltanianco.com/email_templates/assets/soltanianco_orange.png" style="margin-bottom: 27px;" alt="logo" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Images -->
                <tr>
                    <td style="padding:0;">
                        <table width="100%;" style="border-spacing:0;">
                            <tr>
                                <td>
                                    <ul style="margin-top: 40px; margin-bottom: 21px; padding: 0; list-style: none; display: flex; align-items: center; justify-content: center;">
                                        <li style="width: 32%; text-align: center;">
                                            <h2 style="font-family: 'Pangolin', cursive; font-size: 18px; line-height: 28px; text-align: center; color: #FFFFFF; margin-bottom: 19px; margin-top: 50px;">GENERAL</h2>
                                            <!-- General -->
                                            <div style="max-width: 62%; width: 100%; margin: 0 auto;">
                                                <img src="https://soltanianco.com/email_templates/assets/general.png" style="max-width: 100%;" alt="...">
                                            </div>
                                        </li>
                                        <li style="width: 32%; text-align: center;">
                                            <h2 style="font-family: 'Pangolin', cursive; font-size: 24px; line-height: 28px; text-align: center; color: #FFFFFF; margin-bottom: 19px;">INSURANCE</h2>
                                            <h2 style="font-family: 'Pangolin', cursive; font-size: 18px; line-height: 28px; text-align: center; color: #FFFFFF; margin-bottom: 19px;">HEALTH</h2>
                                            <!-- Health -->
                                            <div style="max-width: 65%; width: 100%; margin: 0 auto;">
                                                <img src="https://soltanianco.com/email_templates/assets/health.png" style="max-width: 100%;" alt="...">                                                
                                            </div>
                                        </li>
                                        <li style="width: 32%; text-align: center;">
                                            <h2 style="font-family: 'Pangolin', cursive; font-size: 18px; line-height: 28px; text-align: center; color: #FFFFFF; margin-bottom: 19px; margin-top: 50px;">LIFE</h2>
                                            <!-- Life -->
                                            <div style="max-width: 50%; width: 100%; margin: 0 auto;">
                                                <img src="https://soltanianco.com/email_templates/assets/life.png" style="max-width: 100%;" alt="...">                                               
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Images -->
            </table>
        </div>
        <div class="wrapper" style="max-width: 800px; background: linear-gradient(180deg, #FDB05C 13.5%, #E8052B 100%); padding: 25px 20px 70px 20px;">
            <table style="border-spacing:0;margin:0;padding:0;width:100%;max-width:800px;">
                <tr>
                    <td align="center">
                        <div style="max-width: 570px; width: 100%;">
                            <img src="https://soltanianco.com/email_templates/assets/title_recording.png" style="max-width: 100%; width: 100%; height: auto;" alt="..." /> 
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="wrapper" style="max-width: 800px; background: #000004; padding: 35px 20px 18px 20px;">
            <table style="border-spacing:0;margin:0;padding:0;width:100%;max-width:800px;">
                <tr>
                    <td align="center">
                        <div style="max-width: 295px; width: 100%;">
                            <!-- address -->
                            <p style="font-family: 'Didact Gothic', sans-serif; font-size: 13px; line-height: 18.52px; text-align: center; color: #FFFFFF;">
                                ALEXANDER BENJAMIN SOLTANIAN <br/>
                                LICENSED REAL ESTATE SALESPERSON <br/>
                                NMLS # 1729937 <br/><br/>
                             </p>
                             <a href="mailto:ALEXANDERSOLTANIAN@GMAIL.COM" style="font-family: 'Didact Gothic', sans-serif; font-size: 13px; line-height: 18.50px; text-align: right; color: #FFFFFF; text-decoration: none;"> ALEXANDERSOLTANIAN@GMAIL.COM </a> <br/>
                             <a href="tel:+ 1 (347) 978.1939" style="font-family: 'Didact Gothic', sans-serif; font-size: 13px; line-height: 18.50px; text-align: right; color: #FFFFFF; text-decoration: none;"> + 1 (347) 978.1939 </a>

                             
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div style="margin: 30px 0;">
                            <a href="#">
                                <img src="https://soltanianco.com/email_templates/assets/linkedin.png" width="18" alt="...">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 30px;">
                        <p style="font-family: 'Didact Gothic', sans-serif; font-size: 12px; line-height: 17.1px; text-align: center; color: #FFFFFF;  margin: 0px 0px 10px;">
                            Disclosure: This email and its attachments are confidential and intended only for the  recipient. If received in error, please notify us immediately delete it and all attachments. Distributing, duplicating, or acting upon the information in this email is prohibited.
                            © 2023 R & J CAPITAL GROUP, LLC. ALL RIGHTS RESERVED.
                            NYS DEPARTMENT OF FINANCIAL SERVICES. BROKER ARRANGES MORTGAGE LOANS WITH THIRD PARTY PROVIDERS. 
                            R&J CAPITAL GROUP LLC, 80-02 KEW GARDENS ROAD, SUITE 1040, KEW GARDENS, NY 11415. NMLS # 183264.  (718) 520-7000
                            RESIDENTIAL LOAN COMPANY, R&J CAPITAL GROUP LLC. NMLS #183264 (NMLSCONSUMERACCESS.ORG).
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </center>
</body>
</html>